.custombutton {
    display: flex;
    width: max-content;
    align-items: center;
    background-color: #405FF2;
    border-radius: 12px;
    border: none;
    padding: 0;

    &__light {
        background-color: #fff;
        border: 1px solid #050B20
    }

    &__dark {
        background-color: #050B20;
        border: 1px solid #050B20
    }

    p,a {
        background-color: transparent;
        outline: none;
        cursor: pointer;
        border: none;
        margin: 0;
        text-decoration: none;
        display: block;
    }
}