.header {
    display: block;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    height: 104px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;


    &__content {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__submit {
        color: #fff;
        border: none;
        transition: all 0.3s ease;
        width: 213px;
        height: 54px;
        position: absolute;
        top: 25px;
        right: 50px;
        border-radius: 12px;
        background: #405FF2;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }

    }

    .img {
        width: 229px;
        height: 57px;
        top: 24px;
        left: 49px;
        padding: 12px;
    }

    &__element {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0%;
        text-align: center;
        text-decoration: none;
    }


}

.nav_item {
    padding: 0 12px;
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    line-height: 44px;

    &:hover {
        color: #405FF2;
    }
}

.nav_layout {
    position: absolute;
    width: 785px;
    height: 26px;
    left: 408px;
    padding-top: 39px;
    padding-bottom: 39px;
}