.card {
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(#33434D, 0.11);
  overflow: hidden;
  margin: 15px 0;

  &__cover {
    width: 100%;
    height: 200px;
    margin: 0;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #050B20;
    font-size: 15px;
    line-height: 21px;
    text-wrap-mode: nowrap;
    font-weight: 500;
    padding: 15px;

    &--team {
      background-color: #CEE1F2;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    img {
      display: unset;
    }

    a {
      text-decoration: none;
      display: block;
      color: #050B20;
      font-size: 18px;
      line-height: 18px;
    }
  }


  &__body {
    padding: 0 31px 17px 31px;

    @media (max-width: 1399px) {
      padding: 0 15px 17px 15px;
    }
  }

}


.icon {
  display: unset;
}


.cardetail {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(#33434D, 0.11);
  border-bottom: 1px solid rgba(#33434D, 0.11);
  gap: 15px;
  margin-inline: -15px;
  color: #050B20;
  font-weight: 400;
  font-size: 14px;
  padding-top: 14px;

}

.btn {
  &__link {
    padding: 14px 25px;
    text-decoration: none;
    color: #fff;
    text-wrap-mode: nowrap;
    width: 185px;
  }
}

@media (max-width: 768px) {
  .btn {
    &__link {
      width: 120px;
    }
  }
}

@media (max-width: 1200px) {
  .btn {
    &__link {
      width: 120px;
    }
  }
}

.icontext {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  color: #33434D;
}

.iconMid {
  display: grid;
  place-items: center;
  padding: 5px;
}

.Linkcontainer {
  position: relative; // makes child absolute relative to this

  .cornerlink {
    position: absolute;
    bottom: 20px;
    right: 0px;
    color: #405FF2;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 27.75px;

    &:hover {
      color: #0056b3;
    }

    @media (max-width: 768px) {
      font-size: 13px;
    }

    @media (max-width: 415px) {
      margin-right: -5px;
      margin-bottom: -3.5px;
      font-size: 13px;
    }    
  }
}

.pricetxt {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 415px) {
    margin-left: -10px;
    font-size: 15px;
  }
}

.kutxis {
  margin-left: 5px;
  width: 13px;
  height: 13px;
  margin-top: 3px;
}