.item {

    &__icon {
        margin: 0;

        @media(max-width: 750px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    &__desc {
        margin: 0;
        padding-top: 10px;
        font-weight: 400;
        font-size: 15px;
        
    }
}