.item {

    &__icon {
        margin: 0;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    &__desc {
        margin: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 27.75px;

    }
}