.requestbox {
    padding: 60px 0;

    &__title {
        width: 296;
        height: 90;
        top: 52.82px;
        left: 80px;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #050B20;
    }

    &__desc {
        font-family: DM Sans;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0%;
        vertical-align: middle;
        width: 365;
        height: 70;
        top: 162.91px;
        left: 80px;
    }

    &__item {
        padding: 50px 80px;
        border-radius: 12px;

        a {
            font-size: 14px;
            color: #fff;
            padding: 22px 60px;
        }
    }
}

.formobile {
    @media (max-width: 768px) {
        margin-top: -200px;

    }
}

.formobile2 {
    @media (max-width: 768px) {
        margin-top: 10px;

    }
}