.requestbox {

    &__item {
        padding: 50px 80px;
        border-radius: 12px;
        flex: 1;

        @media (max-width: 1200px) {
            padding: 30px 50px;
        }

        @media (max-width: 991px) {
            margin-bottom: 15px;
        }

        &--title {
            max-width: 250px;
            margin: 0;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 30px;
            line-height: 45px;
            color: #050B20;
        }

        &--desc {
            margin: 0;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
        }

        &--icon {
            width: 100px;
        }
    }

    &__link {
        padding: 22px 60px;
        color: #fff;

        @media (max-width: 1200px) {
            padding: 16px 30px;
        }
        img {
            display: "block";
            margin-left: 5px;
            width: 13px;
            height: 13px;
            margin-top: 3px;
        }
    }
}