.slider {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    position: relative;
}

.cover {
    background-image: url('./../../assets/images/slider.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

}

.body {
    display: block;
}

.title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 70px;
    line-height: 94.5px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.btns {
    display: flex;

    button {
        margin-right: 30px;
    }
}

.btn {
    padding: 19px 26px;
    color: #fff;

    &__white {
        color: #050B20;
    }
}

.tag1 {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 27.75px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.tag2 {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.features {
    display: flex;
}