.formpage {
    display: block;
    position: relative;
}

.form {
    background-color: #fff;
    border-radius: 12px;
}

.smallimg1 {

}

.smallimg2 {
    padding: 0px 45px;
}

.bigimg {
    padding: 105px 30px;
}